@charset "utf-8";

/*
	Themebones Template Generator for Wordpress
	Author: Phil Sanders, Sourcetoad
	Email: phil@sourcetoad.com
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

html, body {
	width: 100%;
	min-width: auto;
	height: 100%;
	min-height: auto;
	font-family: "Open Sans";
	font-size: 12px;
	/*overflow: hidden;*/
}

h1,h2,h3,h4,h5,h6,
.button,p,b,strong {
	font-family: "Open Sans";
}

#wrapper {
	height: 100%;
	padding-bottom: 50px;
}

/*
	Editor window
*/

.editor-window {
	display: none;
	height: 100%;
	box-shadow: inset 0px 20px 50px #dfe3e6;
	overflow: hidden;
}

.editor-menu {
	height: 25px;
	text-align: center;
	width: 100%;
	background: #EFEFEF;
	border-bottom: 1px #CCC solid;
}

.editor-menu .document-title {
	color: #222;
	margin: 0;
	font-size: 12px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-safari-transform: translateY(-50%);
}

.editor-window-panel {
	overflow: auto;
	border: 0px;
	padding: 0px;
	height: calc(100% - 25px);
}

.editor-window #document-update-log {
	z-index: 2000;
	display: none;
	position: absolute;
	left: 50%;
	bottom: 0;
	margin: 0px 0px 10px;
	margin-left: -10px;
	padding: 10px 20px;
	width: 200px;
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	font-weight: 600;
	text-shadow: 0px 1px 0px #3d6724;
	text-align: center;
	background: #5cb640;
	border: 1px #61ab48 solid;
	border-radius: 6px;
	box-shadow: 0px 2px 7px #96d378;
}

/*
	Tools panel
*/

.editor-tools-panel {
	padding-left: 0;
	padding-right: 0;
	height: calc(100% - 25px);
	border-left: 1px #CCC solid;
	background: #EFEFEF;
	overflow: auto;
}

.tool-panel {
	margin: 0px;
	padding: 0 0 10px;
	width: 100%;
	position: relative;
	float: right;
	border-bottom: 1px #CCC solid;
	box-shadow: inset 0px 1px 0px #FFF, inset 1px 0px 0px #FFF, inset -1px 0px 0px #FFF;
}

.tool-panel .tool-panel-title {
	margin: 0;
	padding: 6px 4px 0px 10px;
}

.tool-panel .menu-option {
	padding: 10px 10px 0;
}

.tool-panel .menu-option input,
.tool-panel .menu-option select {
	margin-bottom: 0;
}

.tool-panel strong {
	font-size: 10px;
	color: #555;
	text-shadow: 0px 1px 1px #FFF;
}

.tool-panel div h4 {
	border-bottom: 1px #FFF solid;
	box-shadow: 0px 1px 0px #AAA;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

/*
	action panel
*/

.tool-panel.tool-action {
	text-align: center;
	position:fixed;
	height: 50px;
	bottom: 0;
	background: #EFEFEF;
	transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-safari-transform: translateY(-100%);
}

.tool-panel.tool-action .menu-option {
	display: flex;
	align-items: center;
	align-content: stretch;
	width: 100%;
}

.tool-panel.tool-action .button {
	margin-bottom: 0;
}

/*
	Main Button ++ Options Areas
*/

.menu-option #reset:hover,
.menu-option #save:hover {
	background: #37bee6;
	color: #12323c;
}

/*
	Destroy box
*/

#destroyer-bin {
	list-style: none;
	text-align: center;
	line-height: 4;
	margin-top: 10px;
	border-radius: 4px;
	background: #FAFAFA;
	text-shadow: 0px 1px 0px #FFF;
	color: #AAA;
	border: 1px #BBB solid;
	box-shadow: inset 0px 2px 6px #AAA;
}

#destroyer-bin:hover {
	border-color: #c32c68;
	box-shadow: inset 0px 2px 6px #CCC;
}

/*
	Options Buttons and Options Areas
*/

.menu-option {
	padding-top: 10px;
}

.menu-option input,
.menu-option select {
	padding: 8px;
	font-weight: 600;
	color: #999;
}

.menu-option:hover > input,
.menu-option:hover > select,
.menu-option input:hover,
.menu-option select:hover {
	color: #333;
}

/*
	document layout types
*/

.document-1260px {
	width: 1260px!important;
	min-width: 1260px!important;
	max-width: 1260px!important;
}

.document-1024px {
	width: 1024px!important;
	min-width: 1024px!important;
	max-width: 1024px!important;
}

.document-768px {
	width: 768px!important;
	min-width: 768px!important;
	max-width: 768px!important;
}

.document-568px {
	width: 568px!important;
	min-width: 568px!important;
	max-width: 568px!important;
}

.document-480px {
	width: 480px!important;
	min-width: 480px!important;
	max-width: 480px!important;
}

.document-320px {
	width: 320x!important;
	min-width: 320px!important;
	max-width: 320px!important;
}

/*
	ul
*/

#grid-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

#grid-menu:hover {
	border-color: #49a81a;
}

#grid-menu .instructions {
	position: absolute;
	font-size: 10px;
	color: #555;
	text-shadow: 0px -1px 0px #FFF;
	margin: 0px;
	text-align: center;
	left: 44%;
	margin-right: 15px;
	border: 1px #BBB solid;
	box-shadow: 0px 0px 3px #AAA;
	background: #EFEFEF;
	border-radius: 5px;
	padding: 10px;
}

/*
	ul li ( draggables )
*/

#sortable {
	text-align: center;
	position: static;
	margin: 10px auto 10px;
	height: 100%;
	min-height: 100%;
	list-style: none;
	border: 1px #DDD solid;
	background: #FFF;
	padding: 10px;
	box-shadow: inset 0px 0px 1px #FFF, 0px 0px 20px #dcdcdc;
}

#sortable .grid-item,
#grid-menu  .grid-item,
body .grid-item {
	float: left;
	display: inline-block;
	padding: 1px;
}

#grid-menu .grid-item,
body .grid-item {
	float: none;
	display: block;
}

/*
	ul li (css style )
*/

#sortable .grid-item .inner,
#grid-menu .grid-item .inner,
body .grid-item .inner {
	text-align:center;
	font-weight: 600;
	background-color: #dce9ed;
	box-shadow: inset -1px -1px 0px #daecf1, inset -1px -3px 5px #73cbe6;
	border: 1px #39C solid;
	padding: 0px;
	height: 50px;
	line-height: 1;
	cursor: move;
	border-radius: 2px;
}

#sortable .grid-item .inner label {
	font-weight: 600;
	position: relative;
	margin: 0px auto;
	padding: 0px;
	left: 0;
	top: 45%;
}

#grid-menu .grid-item .inner,
body .grid-item .inner {
	background-color: #e0cfe4;
	box-shadow: inset -1px -1px 0px #fad4f8, inset -1px -3px 5px #d194cd;
	padding: 0px;
	height: 30px;
	line-height: 3;
	font-size: 10px;
}

#grid-menu .grid-item .inner:hover,
body .grid-item .inner:hover,
#grid-menu .grid-item .inner:focus,
body .grid-item .inner:focus {
	background-color: #dce9ed;
	box-shadow: 0px 2px 12px #AAA;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}

#grid-menu .grid-item .inner label,
body .grid-item .inner label {
	font-weight: 400;
	position: relative;
	margin: 0px auto;
	padding: 0px;
	line-height: 1;
	left: 0;
	top: 5px;
}

#sortable .grid-item .inner:hover,
#sortable .grid-item .inner:focus {
	background-color: #daeeca; box-shadow: none;
	-webkit-transition: background-color 300ms ease-out;
	-moz-transition: background-color 300ms ease-out;
	transition: background-color 300ms ease-out;
}

#sortable .grid-item .inner:hover > input {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

/*
	ul li div input ( destroy button )
*/

#grid-menu .grid-item .inner input,
body .grid-item .inner input {
	display: none;
}

#grid-menu-resizable {
	height: 308px;
	width: 100%;
	overflow: auto;
	border: 1px #BBB solid;
	box-shadow: inset 0px 2px 6px #CCC;
	background: #FFF;
	border-radius: 5px;
	padding: 10px 10px 0px;
}

#grid-menu-resizable .ui-resizable-s {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0px;
	margin: 0px;
	height: 10px;
	width: 100%;
	border-top: 1px #5c9e38 solid;
	border-radius: 0px;
	opacity: 0.0;
	background-color: #9dd57e;
	cursor: s-resize;
}

#grid-menu-resizable .ui-resizable-s:hover {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

#sortable .grid-item .inner input {
	display: block;
	opacity: 0;
	float: left;
	margin: -10px 0px 0px 4px;
	padding: 0px;
	height: 15px;
	width: 15px;
	border-radius: 4px;
	font-size: 9px;
}

#sortable .grid-item .inner.ui-resizable .inner.ui-resizable-se {
	padding: 0px;
	margin: -2px;
	height: 20px;
	width: 20px;
	border-radius: 4px 0px 4px 0px;
	background-color: transparent;
	cursor: se-resize;
}


/* Main Footer ++ File Menu */

#footer {
	display: none;
	position:absolute;
	bottom: 0;
	background: #495868;
	border-top: 1px #000 solid;
	box-shadow: inset 1px 1px 0px #687681;
	height: 50px;
	width: 100%;
	min-width: 100%;
	opacity: .7;
}

#footer:hover {
	opacity: 1;
	-webkit-transition: opacity 600ms ease-in-out;
	-moz-transition: opacity 600ms ease-in-out;
	transition: opacity 600ms ease-in-out;
}

#footer:hover > h4 a {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out 300ms;
	-moz-transition: opacity 300ms ease-out 300ms;
	transition: opacity 300ms ease-out 300ms;
}

#footer .file-menu {
	z-index: 100;
	width: 200px;
	position: absolute;
	padding: 8px 0px;
	margin: 0px 20px 0px 178px;
	font-size: 10px;
	border-top: none;
}

#footer .file-menu ul {
	height: auto;
	list-style: none;
	padding: 0px;
	margin: 0px;
}

#footer .file-menu ul li {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	border-right: 1px #3a4650 solid;
	box-shadow: inset -1px 0px 0px #5d7282;
}

#footer .file-menu ul li:last-child {
	border: none;
	box-shadow: none;
}

#footer .file-menu a {
	color: #83d927;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 11px 6px 12px;
	display: block;
	margin: 0px 4px;
	text-shadow: 0px 1px 0px #111;
}

#footer .file-menu a:hover {
	color: #4eadd0;
	-webkit-transition: color 200ms ease-in;
	-moz-transition: color 200ms ease-in;
	transition: color 200ms ease-in;
}

#footer h4 {
	text-align: right;
	line-height: .5;
	padding: 10px 40px 0px 0px;
	margin: 0px;
}

#footer h4 a {
	opacity: .4;
	padding: 0px;
	color: #EFEFEF;
	line-height: .5;
	font-size: 16px;
	text-shadow: 0px 7px 0px #3b4954;
	margin-bottom: 0px;
}

#footer h4 a span {
	font-size: 10px;
}

#footer h4 a b {
	color: #6e8795;
	text-shadow: 0px 7px 0px #5b7080;
}

#footer h4 a:hover > b {
	color: #2ba6cb;
	-webkit-transition: color 300ms ease-out 100ms;
	-moz-transition: color 300ms ease-out 100ms;
	transition: color 300ms ease-out 100ms;
}

/*
	slimScroll jQuery Scroll Bar
*/

.slimScrollBar {
	border-radius: 0!important;
	border: 0px #1e728c solid;
	box-shadow: inset 0px 0px 1px #1e728c, inset 0 0 6px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 0px 0px 1px rgba(15,30,38,0.5), inset 0 0 6px rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0px 0px 1px rgba(15,30,38,0.5), inset 0 0 6px rgba(255,255,255,0.5);
}

.slimScrollRail {
	border-radius: 0!important;
	overflow: hidden;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Webkit Scroll Bar  */

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 1px;
}

::-webkit-scrollbar-thumb {
	border: 1px #1e728c solid;
	background-color: #2ba6cb;
	border-radius: 2px;
	-webkit-box-shadow: inset 0px 0px 1px rgba(15,30,38,0.3), inset 0 0 6px rgba(255,255,255,0.5);
}

::selection {
	color: #777;
	background: #DDD; /* Safari */
}

/* Webkit ++ Safari Selectable Text Color  */

textarea::selection,
option::selection,
input::selection {
	color: #FFF;
	background: #2ba6cb; /* Safari */
}

::-moz-selection {
	color: #777;
	background: #DDD; /* Firefox */
}

textarea::-moz-selection,
option::-moz-selection,
input::-moz-selection {
	color: #FFF;
	background: #2ba6cb; /* Firefox */
}

/* EOF */
